$primary-color: #2bcbba;

.loader {
    color: $primary-color;
}

a {
    color: $primary-color;
}

a:hover {
    color: darken($primary-color, 10%);
}

.dropdown-header {
    padding-left: 1rem;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: $primary-color;
}

.custom-switch-input:checked ~ .custom-switch-indicator {
    background: $primary-color;
}

.min-100 {
    min-height: 100px;
}

.card-options .dropdown-menu a:not(.btn) {
    margin-left: 0;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.col-login {
    max-width: 48rem;
}

/* Dark Mode */

:root{
    --primary-light: white;

    --dark-bg-color:rgb(39, 39, 39);
}

#themeButton{
    position:absolute !important;
    bottom:50px;
    right:50px;
}

body[data-theme-mode="dark"],
[data-theme-mode="dark"] #header,
[data-theme-mode="dark"] .navbar-light,
[data-theme-mode="dark"] .card,
[data-theme-mode="dark"] .form-control,
[data-theme-mode="dark"] .header,
[data-theme-mode="dark"] .footer,
[data-theme-mode="dark"] .modal-content,
[data-theme-mode="dark"] .selectize-input,
[data-theme-mode="dark"] .dropdown-menu
{
    background-color: var(--dark-bg-color);
    color: #dadada !important;
}

[data-theme-mode="dark"] a,
[data-theme-mode="dark"] a,
[data-theme-mode="dark"] span.navbar-toggler-icon{
    color:var(--teal) !important;
}

[data-theme-mode="dark"] .nav-tabs {
    border-bottom-color: var(--teal);
}
